<!DOCTYPE html>
<html>
	<head>
		<title>AngularJS</title>
		<meta charset="utf-8"/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		
		<form action="https://github.com/cmstewar/cis255">
			<input type="submit" value="Go to Github" />
		</form>
		
		<br><br>
		
	</head>
	<body>
		<div ng-app="angApp">
		<div ng-controller="control">
		
			<span>What Temperature is it in Fahrenheit?</span>
			<input type="text" ng-model="fahDeg"/>
			
			<br><br>
			
			<button ng-click="updateTemp()">Convert</button><br><br>
			
			The Temperature in Celsius is:<output type="text" ng-model="convertion">
			{{calculation}}
			<br><br>
			
		
			Please enter numbers in the 3 boxes below to find the answers to the quadratic equation:<br><br>
			A = <input type="text" ng-change="quad()" ng-model="aInput" />
			<br>
			B = <input type="text" ng-change="quad()" ng-model="bInput" />
			<br>
			C = <input type="text" ng-change="quad()" ng-model="cInput" />
			<br><br>
			
			X = {{cal1}}<br>
			X2 = {{cal2}}<br>
			
			<br><br>
			
			
			
			
			
			
		</div>	

		<script>
			
			var angApp = angular.module('angApp', []);
			
			angApp.controller('control', function($scope){
			
				$scope.fahDeg = "";
				
				$scope.aInput = "";
				$scope.bInput = "";
				$scope.cInput = "";
			
				
				$scope.updateTemp = function(){
					$scope.calculation = ($scope.fahDeg - 32) * (5/9)
			};
			

				$scope.quad=function(){
					$scope.cal1 = (((-1*$scope.bInput) + Math.sqrt(Math.pow($scope.bInput,2)) - (4*$scope.aInput*$scope.cInput))/(2*$scope.aInput));
					$scope.cal2 = (((-1*$scope.bInput) - Math.sqrt(Math.pow($scope.bInput,2)) - (4*$scope.aInput*$scope.cInput))/(2*$scope.aInput));
			};
			
			});
					
		</script>
		
		</body>	
	
</html>